<%- include ('navbar') -%>
<br>
<div class="row">
<div class="col lg-6">
<center><span class="bg-warning btn-lg" style="font-family:'Dancing Script';font-size:30px;">Voltage vs Date</span><br><hr class="bg-secondary" style="width:300px;height:2px;"></center>
<iframe width="450" height="260" style="border: 1px solid #cccccc;margin-left:90px;" src="https://thingspeak.com/channels/1060859/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>

</div>
<div class="col lg-6">
    <center><span class="bg-warning btn-lg" style="font-family:'Dancing Script';font-size:30px;">Current vs Date</span><br><hr class="bg-secondary" style="width:300px;height:2px;"></center>
    <iframe width="450" height="260" style="border: 1px solid #cccccc;margin-left:90px;" src="https://thingspeak.com/channels/1060859/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>

</div>
</div>
<br>
<div class="row">
    <div class="col lg-6">
    <center><span class="bg-warning btn-lg" style="font-family:'Dancing Script';font-size:30px;">Power vs Date</span><br><hr class="bg-secondary" style="width:300px;height:2px;"></center>
    <iframe width="450" height="260" style="border: 1px solid #cccccc;margin-left:90px;" src="https://thingspeak.com/channels/1060859/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
    
    </div>
    <div class="col lg-6">
        <center><span class="bg-warning btn-lg" style="font-family:'Dancing Script';font-size:30px;">Energy vs Date</span><br><hr class="bg-secondary" style="width:300px;height:2px;"></center>
        <iframe width="450" height="260" style="border: 1px solid #cccccc;margin-left:90px;" src="https://thingspeak.com/channels/1060859/charts/4?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
    
    </div>
    </div>
<br>
<div class="row">
    <div class="col lg-6">
    <center><span class="bg-warning btn-lg" style="font-family:'Dancing Script';font-size:30px;">Frequency vs Date</span><br><hr class="bg-secondary" style="width:300px;height:2px;"></center>
    <iframe width="450" height="260" style="border: 1px solid #cccccc;margin-left:90px;" src="https://thingspeak.com/channels/1060859/charts/5?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
    
    </div>
    <div class="col lg-6">
        <center><span class="bg-warning btn-lg" style="font-family:'Dancing Script';font-size:30px;">PF vs Date</span><br><hr class="bg-secondary" style="width:300px;height:2px;"></center>
        <iframe width="450" height="260" style="border: 1px solid #cccccc;margin-left:90px;" src="https://thingspeak.com/channels/1060859/charts/6?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
    
    </div>
    </div>
    <br>
<center><span class="text " style="color:red;font-size:20px;">*All the graphs represented are in accordance with the real time data.</span></center>